<div class="contact">
  <img [src]="contact.picture" alt="" class="contact-image" (click)="onClickId()">
  <div class="contact-details">
    <h1 class="contact-detail-name"><a [routerLink]="['/contact-detail', contact.id]"
                                       [queryParams]="{param1: true, param2:false}">Name: {{contact.name}}</a></h1>
    <p>Email: {{contact.email}}</p>
    <!-- ?  en la variable, permite decirle a typescript puede que esa variable no existe y no continue con el resto -->
    <!--
    ng-container, permite crear logica a alguna agrupacin del dom, de forma que no se crean elementos en el dom adicionales
    no se le aplican clases CSS, ya que no se pinta en el dom
    -->
    <ng-container *ngIf="expanded">
      <ng-container class="contact-detail-phone" *ngIf="contact.phones?.length">
        <span>({{contact.phones[0].type}}) - </span>
        <span>({{contact.phones[0].number}})</span>
      </ng-container>
    </ng-container>
  </div>


</div>
