<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Input / Output</h1>
  <app-padre></app-padre>
  <hr>
  <h1>Binding Class</h1>
  <app-binding-class></app-binding-class>

  <hr>
  <h1>Usando ng-content para pasar elementos a un componente</h1>
  <app-componente-ng-content>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, soluta!</li>
      <li>Adipisci consequatur explicabo impedit incidunt nam! Dignissimos earum harum odio!</li>
    </ul>
  </app-componente-ng-content>
</div>

<hr>
<app-contacts-list></app-contacts-list>

<hr>
<app-rxjs></app-rxjs>
